<div class="container" style="background:url({{ '/static/images/privchat/pattern.png' }}) no-repeat center; background-size: contain;">
  <div class="w-50 text-center mx-auto">
    <img class="img-fluid p-3" height="auto" src="{{ '/static/images/privchat/privchat.svg' }}" /> <h1 class="display-2 text-primary">PrivChat</h1>
    <p class="text-primary p-3"> a conversation about tech, human rights, <br/>and internet freedom brought to you by the Tor Project</p>
  </div>
</div>

<div class="container pb-3 mt-5 preamble">
  <p>
    PrivChat is a fundraising event series held to raise donations for the Tor Project. Through PrivChat, we will bring you important information related to what is happening in tech, human rights, and internet freedom by convening experts for a chat with our community.
  </p>
</div>
<div class="container">
  <p>
    PrivChat is free to attend. If you get value out of these events and you like Tor, <a href="https://donate.torproject.org/monthly-giving" alt="Tor Project Donate" target="_blank"><mark>please consider becoming a monthly donor</mark></a>. Reliable, predictable support is the best way to ensure Tor remains strong and stable.

    Our goal with PrivChat is to build a two-way support system. You will get access to information from leading minds thinking about and working on privacy, technology, and human rights. And the Tor Project will be more agile in our development as a result of your support, allowing us to respond more rapidly to increasing surveillance and censorship threats (and host more PrivChats)!
  </p>

  <hr class="mt-5"/>

</div>


<div class="container py-3 mt-5">
    <p class="h2 text-primary" target="_blank">Chapter #3 - Tor Advancing Human Rights</p>
    <div>
      <p><span class="text-primary nick" style="font-size:18px;"><mark>12/11 ∙ 18:00 UTC ∙ 13:00 Eastern ∙ 10:00 Pacific ∙ <a href="https://www.youtube.com/watch?v=S2N3GoewgC8" title="Tor Project You Tube Channel" target="_blank"><i class="fab fa-youtube"></i> @torproject YouTube channel</a></mark></span></p>
    </div>
    <a class="btn btn-small bg-primary text-light my-4" href="https://www.youtube.com/watch?v=S2N3GoewgC8" target="_blank"><i class="mr-2 pt-1 fas fa-thumbtack-png"></i> {{ _("Save the Date") }} </a>
    <div>
    <p class="font-family-serif">
      The Tor Project's main mission is to advance human rights and freedoms by creating and deploying free and open source anonymity and privacy technologies. People use our technology, namely the Tor network and Tor Browser, in diverse ways. Tor is used by whistleblowers who need a safe way to bring to light information about wrongdoing -- information that is crucial for society to know -- without sharing their identity. Tor is used by activists around the world who are fighting against authoritarian governments and to defend human rights, not only for their safety and anonymity, but also to circumvent internet censorship so their voices can be heard. Tor allows millions of people to protect themselves online, no matter what privilege they have or don't have. For our third edition of PrivChat, we are bringing you some real-life Tor users who will share how Tor has been important for them and their work to defend human rights and freedoms around the world.
    </p>
    </div>
</div>

<div class="container pt-5 justify-content-center">

    <h4>Host</h4>

    <div class="row">
      <div class="container">
      <div class="card flex-row flex-wrap py-3">
        <div class="col-3">
            <img class="card-img-top" src="{{ '/static/images/privchat/ed.png' }}" alt="">
        </div>
        <div class="col">
          <div class="card-block px-2">
              <div class="pb-4">
                <h4 class="display-4 text-primary">Edward Snowden</h4>
                <strong class="display-5 text-primary mb-4">President, Freedom of the Press Foundation</strong>
              </div>
              <p class="text-tpo">Edward Snowden is a US citizen, former Intelligence Community officer and whistleblower. The documents he revealed provided a vital public window into the NSA and its international intelligence partners’ secret mass surveillance programs and capabilities. These revelations generated unprecedented attention around the world on privacy intrusions and digital security, leading to a global debate on the issue.</p>
          </div>
        </div>
      </div>
      </div>
    </div>

  <h4 class="mt-5">Participants</h4>

  <div class="row">
    <div class="container">

    <div class="card flex-row flex-wrap py-3 mb-5">
      <div class="col-3">
          <img class="card-img-top" src="{{ '/static/images/privchat/alison.png' }}" alt="">
      </div>
      <div class="col">
        <div class="card-block px-2">
            <div class="pb-4">
              <h4 class="display-4 text-primary">Alison Macrina</h4>
              <strong class="display-5 text-primary mb-4">Founder, Library Freedom Project</strong>
            </div>
            <p class="text-tpo">Alison Macrina is a librarian and the founder of Library Freedom Project, a community of practice for library workers living our values of intellectual freedom and privacy in the real world. Her work focuses on the ways that surveillance impacts library communities and the work of librarians, how surveillance relates to other social justice issues and intellectual freedom, and the power dynamics inside of our technologies. Alison and Library Freedom Project have been awarded the Free Software Foundation's Award for Project's of Social Benefit, Library Journal's Movers and Shakers Award, the New York Library Association's Intellectual Freedom Award, and the LITA/Library Hi Tech Award.</p>
        </div>
      </div>
    </div>

    <div class="card flex-row flex-wrap py-3 mb-5">
      <div class="col-3">
          <img class="card-img-top" src="{{ '/static/images/privchat/ramy.png' }}" alt="">
      </div>
      <div class="col">
        <div class="card-block px-2">
            <div class="pb-4">
              <h4 class="display-4 text-primary">Ramy Raoof</h4>
              <strong class="display-5 text-primary mb-4">Security Labs Technologist, Amnesty International</strong>
            </div>
            <p class="text-tpo">Ramy Raoof is a technologist and privacy researcher, his recent works focus on researching targeted digital attacks against human rights defenders and NGOs and developing digital security protocols and capacity building with activists in the Middle East and Central America around surveillance and censorship. Ramy is Tactical Technologist at Amnesty International's Security Lab and he also sits on Tor Project's Board of Directors. Prior to joining Amnesty, he served as Senior Technologist at the Egyptian Initiative for Personal Rights (EIPR). Ramy received the international award Heroes of Human Rights and Communications Surveillance from Access Now in 2017 and in May 2016 he received the international Bobs Award - Best of Online Activism in recognition for his work in digital security and privacy from Deutsche Welle. On Twitter https://twitter.com/RamyRaoof.</p>
        </div>
      </div>
    </div>
</div>

<div class="container">
  <div class="row bg-secondary p-5 mx-1 my-5">
    <h1><i class="fas fa-hand-holding-usd px-5 text-light"></i></h1>
    <h3 class="preamble text-light text-center mx-auto">Your donations make this series and our work at Tor possible. <br/> The best way to support our work is to <a class="text-success" href="https://donate.torproject.org/monthly-giving" target="_blank">become a monthly donor.</a></h3>
  </div>
</div>

<div class="container pt-5 justify-content-center">
  <h4>Editions</h4>

  <div class="row">
    <div class="container">

      <div class="p-5 mt-5 border">
          <img class="card-img-top mb-5" src="{{ '/static/images/privchat/privchat2-cover.png' }}" alt="PrivChat with Tor">
          <a class="h2 text-primary" href="chapter-2">Chapter #2 - the Good, the Bad, and the Ugly of Censorship Circumvention</a>
          <div>
            <p><span class="text-primary nick"><mark>With Felicia Anthonio, Vrinda Bhandari, Cecylia Bocovich and Arturo Filastò. Hosted by Cory Doctorow.</mark></span></p>
          </div>
          <div>
          <p class="font-family-serif">
          Every year, internet censorship increases globally. From network level blocking to nation-wide internet blackouts, governments and private companies have powerful tools to restrict information and hault connection between people. Many people, groups, and organizations are doing innovative work to study, measure, and fight back against internet censorship--and they are helping millions of people connect more regularly and safely to the internet. Despite these successes, we're faced with well-funded adversaries that have billions of dollars to spend on censorship mechanisms, and the arms race is ongoing. The second edition of PrivChat with Tor will be about the Good, the Bad and the Ugly that is happening in the front lines of censorship circumvention. In a world where censorship technology is increasingly sophisticated and bought and sold between nations, so is our creativity to measure it and build tools to bypass it, as well as the willingness of people to fight back. But is it enough? What are the barriers facing the people and organizations fighting for internet freedom?
          </p>
          </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="container">

      <div class="p-5 mt-5 border">
          <img class="card-img-top mb-5" src="{{ '/static/images/privchat/privchat1-cover.png' }}" alt="PrivChat with Tor">
          <a class="h2 text-primary" href="chapter-1">Chapter #1 - Online Privacy in 2020: Activism & COVID-19</a>
          <div>
            <p><span class="text-primary nick"><mark>With Carmela Troncoso, Daniel Kahn Gillmor and Matt Mitchell. Hosted by Roger Dingledine.</mark></span></p>
          </div>
          <div>
          <p class="font-family-serif">
          When the COVID-19 pandemic hit most countries around the world, many governments looked for technology to trace the spread of the virus in order to fight the pandemic. Contact tracing practices and technologies raised many questions about privacy, particularly: is it possible to trace the virus while respecting people's privacy?

          Now amidst the uprising in the U.S. against systemic racism, followed by protests all around the world, the central question about contact tracing, privacy, and surveillance becomes critical. Can the technology used for tracking the virus be used to track protesters? Will it be?

          For our first ever PrivChat, the Tor Project is bringing you three amazing guests to chat with us about privacy in this context.
          </p>
          </div>
      </div>

    </div>
  </div>
</div>
